{% load static %}

<link rel="stylesheet" href="{% static 'hub_app/css/hub.css' %}" />
{% if current_project %}
    {% include 'hub_app/partials/hub_browse_styles.html' %}
{% endif %}
<div class="hub-partial-content hub-main"
     data-username="{{ user.username }}"
     data-initial-mode="{{ hub_initial_mode|default:'me' }}">
    {% include 'hub_app/partials/hub_mode_switcher.html' %}
    <div id="hub-main-content">
        {% if current_project %}
            <div class="hub-browse-container p-3">
                {% include 'hub_app/partials/hub_tabs.html' %}
                <div class="hub-browse-dynamic">
                    {% include 'project_app/repository/browse_partials/browse_file_browser.html' %}
                    {% include 'project_app/repository/browse_partials/browse_readme.html' %}
                </div>
            </div>
        {% else %}
            {% include 'hub_app/partials/user_profile_content.html' %}
        {% endif %}
    </div>
</div>
