# SciTeX Cloud Requirements
# All dependencies are now managed in pyproject.toml
#
# Usage:
#   pip install -e .              # CLI only
#   pip install -e .[django]      # Django app
#   pip install -e .[test]        # Testing
#   pip install -e .[gui]         # GUI tools
#   pip install -e .[all]         # Everything
#
# For Docker builds:
-e .[django,test]
