{% extends "global_base.html" %}
{% load static vite %}
{% comment %}
Base template for Writer App
All writer_app templates should extend from this template.
Features:
- Writer-specific navigation
- Common CSS/JS includes
- Project context
{% endcomment %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'writer_app/css/shared/variables.css' %}" />
    <link rel="stylesheet"
          href="{% static 'writer_app/css/shared/common.css' %}" />
    {% block writer_css %}{% endblock %}
{% endblock %}
{% block content %}
    <div class="writer-app-container">
        {% block writer_header %}{% include "writer_app/shared/_app_header.html" %}{% endblock %}
        <div class="writer-main">
            {% block writer_sidebar %}{# Sidebar can be overridden by individual templates #}{% endblock %}
            <main class="writer-content">
                {% block writer_content %}{# Main content area - must be overridden #}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    {% vite_script 'writer_app/shared/utils' %}
    {% block writer_js %}
    {% endblock %}
{% endblock %}
